<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Map Page</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <!-- //<button ion-button (click)="logEvent()">Default</button> -->
    <div style="height: 50%; width: 100%" id="map_canvas"></div>
    <ion-scroll>
        <ion-list>
            <ion-item *ngFor="let order of arrayOrder">
                <ion-card>

                    <ion-fab right top>
                        <button ion-fab>
      <ion-icon name="pin"></ion-icon>
    </button>
                    </ion-fab>

                    <ion-item>
                        <ion-icon name="locate" item-start large></ion-icon>
                        <h2>{{order.nameUser}}</h2>
                        <p>{{order.address}}</p>
                    </ion-item>
                    <ion-item>
                        <ion-icon *ngIf="order.status == false" name="close-circle" item-left large></ion-icon>
                        <ion-icon *ngIf="order.status == true" name="checkmark-circle" item-left large></ion-icon>
                        <h2 *ngIf="order.status == false" style="text-decoration-color: red">Chưa hoàn thành</h2>
                        <h2 *ngIf="order.status == true" style="text-decoration-color: blue">Đã hoàn thành</h2>
                    </ion-item>
                    <ion-item>
                        <span item-left>18 min</span>
                        <button ion-button icon-left clear item-end (click)='openModal(order)'>
      <ion-icon name="navigate"></ion-icon>
      Chi tiết
    </button>
                    </ion-item>
                </ion-card>

            </ion-item>
        </ion-list>
    </ion-scroll>
</ion-content>